jcoverage/
target/
build/target/
.idea
*.iws
**/*.iml
*.ipr
mvnw
mvnw.cmd 
.DS_Store
*.class
*.jar
*.war
*.ear
*.logs
*.zip
.eclipse
.classpath
.project
.settings/
.springBeans
reports/
bin/
classes/
.metadata/
.recommenders/
.sonarlint/
**/reports
*.csv

Servers/

*.versionsBackup

Server/

/log/

bin/
classes/
*catalina.properties
*catalina.policy

/.recommenders/
/.sonarlint/

/.metadata/
.factorypath

*/log
*/logs
*.log
